@font-face {
    font-family: 'PokemonText';
    src: url(/assets/fonts/PokemonText.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PokemonText';
    src: url(/assets/fonts/PokemonTextBold.woff2);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PokemonText';
    src: url(/assets/fonts/PokemonTextItalic.woff2);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PokemonText';
    src: url(/assets/fonts/PokemonTextBoldItalic.woff2);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PokemonTitle';
    src: url(/assets/fonts/PokemonTitle.woff2);
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}


html, body {
    width: 100vw;
    height: 100vh;
    font-family: 'PokemonText', serif;
    margin: 0;
    padding: 0;
    flex-direction: column;
    background-color: #1A1A1A;
    color: #F0F0F0;
    display: flex;
    z-index: 0;
}

h1 {
    font-family: 'PokemonTitle', serif;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
    z-index: -2;
}

.bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: -1;
}

.main {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
}


.left-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: flex-start;
    flex: 1;
    height: 100%;
}

.mid-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    flex: 1;
    height: 100%;
}

.right-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
}

.total-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    font-size: 24px;
}

.p-total-img {
    width: 3.5%;
    object-fit: cover;
    filter: invert(1);
}

.pokeball-img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    box-shadow: none;
    transition: box-shadow 0.2s ease;
}

.pokeball-img:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #F0F0F0;

}