@font-face {
    font-family: 'PokemonText';
    src: url(/public/assets/fonts/Georgia.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PokemonText';
    src: url(/public/assets/fonts/GeorgiaBold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PokemonText';
    src: url(/public/assets/fonts/GeorgiaItalic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PokemonText';
    src: url(/public/assets/fonts/GeorgiaBoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PokemonTitle';
    src: url(/public/assets/fonts/Pokemon\Solid.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}


html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
    background-color: #1A1A1A;
    color: #F0F0F0;
    display: flex;
    z-index: 0;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
    z-index: -2;
}

.bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: -1;
}

.main {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
}


.left-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: flex-start;
    flex: 1;
    height: 100%;
}

.mid-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    flex: 1;
    height: 100%;
}

.right-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    flex: 1;
    height: 100%;
}

.pokedollar {
    height: 3%;
    width: 3%;
}

.pokeball-img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    box-shadow: none;
    transition: box-shadow 0.2s ease;
}

.pokeball-img:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #F0F0F0;

}