.upgrades-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: visible;
    position: relative;
    width: 455px;
    margin-top: 20px;
}

.upgrade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.75);
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    transition: transform 0.2s ease;
    overflow: visible;
    width: 300px;
    margin-left: 5px;
}

.upgrade:hover {
    transform: scale(1.02);
}

.left-upg {
    flex: 0 0 auto;
}

.mid-upg {
    flex-grow: 1;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right-upg {
    min-width: max-content;
    text-align: right;
}

.upg-img {
    width: 50px;
    height: 50px;
}

.p-upg-img {
    width: 7%;
    object-fit: cover;
    filter: invert(1);
}

.cost-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.next-upg-info {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    height: 60px;
    width: 120px;
    max-width: calc(100vw - 350px - 40px);
    text-align: center;
    z-index: 1;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    right: -130px;
    transition: opacity 0.25s ease, visibility 0.25s ease;
}

.upgrade:hover .next-upg-info {
    opacity: 1;
    visibility: visible;
}

.next-upg-info img {
    width: 7%;
    object-fit: cover;
}

.upgrades-container::-webkit-scrollbar {
    width: 12px;
}

.upgrades-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.upgrades-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}