.upgrade {
    display: flex;
    align-items: center;
    width: 330px;
    height: 60px;
    border: 4px solid white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    justify-content: space-evenly;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
}

.cost-info {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.upg-img {
    width: 50px;
    height: 50px;
}

.p-upg-img {
    width: 5%;
    object-fit: cover;
    filter: invert(1);
}

.right-upg {
    min-width: max-content;
}

.right-upg p {
    white-space: nowrap;
}

.next-upg-info {
    position: absolute;
    display: flex;
    align-items: center;
    right: -100px;
    background-color: rgba(0, 0, 0, 0.9);
    height: 60px;
    width: 100px;
    text-align: center;
    z-index: -1;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity ease 0.25s, visibility 0.25s ease;
}

.next-upg-info img{
    width: 8%;
    margin: 0;
}

.upgrade:hover .next-upg-info {
    opacity: 1;
    visibility: visible;
}